
body {
    background: url('../img/bgg.jpg') no-repeat center center fixed;
    background-size: cover;
	color:#fff;
  	background-color:rgba(0,0,0,0.5);
  	font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
} 

a{
	 color: gray;
}

.sidebar {
   position: fixed;
   width: auto;
   padding-right: 3%;
   height: 100%;
   top: 8%;
   left: 0px;
   background-color:rgba(0,0,0,0.2);
   
}

.footer { 
    bottom: 0;
}

.jumbotron {
    background-color: rgba(0,0,0,0.5);/*transparent !important*/ 
    min-width: 300px; 
    padding-top: 10px;
    padding-bottom: 6px;
}





